* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.root {
  background-color: #1b1a17;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15em;
}

.scoreboard {
  display: flex;
  gap: 2em;
  text-align: center;
  font-size: 40px;
  color: #00a7e1;
}

.scoreboard p {
  font-size: 45px;
  margin-top: 0.5em;
  color: red;
}

.rps-container {
  display: flex;
  gap: 25em;
  color: #5fffbd;
}

.rps-container h2 {
  font-size: 95px;
}

.weapons-container button {
  font-size: 30px;
  background-color: transparent;
  padding: 2em;
  cursor: pointer;
  color: orange;
}

.weapons-container button:hover {
  background-color: #33bbee;
}

img {
  width: 90px;
  height: 90px;
  border-bottom: 20px;
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  .root {
    gap: 5em;
  }

  .scoreboard {
    gap: 1em;
    font-size: 20px;
  }

  .scoreboard p {
    font-size: 25px;
  }

  .rps-container {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    gap: 2em; /* Adjust gap */
  }

  .rps-container h2 {
    font-size: 55px;
  }

  .weapons-container {
    display: flex; /* Align weapons horizontally */
    flex-wrap: wrap; /* Allow wrapping of buttons */
    justify-content: center; /* Center align the buttons */
    gap: 1em; /* Adjust gap between buttons */
  }

  .weapons-container button {
    padding: 1em;
  }
}
